body{
    margin: 0%;
}
.wow{
    text-align: center;
}
body h1{
    margin-bottom: 35px;
}
/*

   Styles for animated modal
   =========================

*/

/* Start state */
.animated-modal {
    max-width: 550px;
    border-radius: 4px;
    overflow: hidden;
    
    transform: translateY(-50px);
    transition: all .7s;
  }
  
  .animated-modal h2,
  .animated-modal p {
    transform: translateY(-50px);
    opacity: 0;
    
    transition-property: transform, opacity;
    transition-duration: .4s;
  }
  
  /* Final state */
  .fancybox-slide--current .animated-modal,
  .fancybox-slide--current .animated-modal h2,
  .fancybox-slide--current .animated-modal p {
    transform: translateY(0);
    opacity: 1;
  }
  
  /* Reveal content with different delays */
  .fancybox-slide--current .animated-modal h2 {
    transition-delay: .1s;
  }
  
  .fancybox-slide--current .animated-modal p {
    transition-delay: .3s;
}